<app-my-nav></app-my-nav>
<div class="client">
    <input type="text" (keyup.enter)="createData(todo)"
    #todo> 
    
<table class="table table-dark">
  
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Arabic Name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
 
  <tr 
  *ngFor="let client of client">
  <td>{{client.name}} </td>
  <td></td>
  <td>{{client.email}}</td> 

  </tr>

</table>
</div>



<!-- <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">



    </div>
  </div> -->